.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal p{
  text-align: center;
}

.modal-box {
  background-color: #F5F5DC;
  padding: 25px;
  border-radius: 30px;
  width: 90%;       
  max-width: 350px;  
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.modal-box h2 {
   margin: 0 0 10px 0;
  font-size: 23px;
  color: black;
  font-weight: 400;
}
.modal-box h3 {
  margin-bottom: 20px;
  font-size: 14px;
  color: #49454F;
  font-weight: 400;
  text-align: center;
  
}
.modal-actions {
  display: flex;
  justify-content: flex-end;
}

.modal-button {
  margin: 10px;
  padding: 12px 16px;
  background-color: #0A7239;
  color: #F5F5DC;
  border: none;
  border-radius: 10px; 
  cursor: pointer;
  margin-left: auto;
}
.modal-button:hover{
   background-color: #096432;
  color: #F5F5DC;
}
.modal-close {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #ccc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.modal-icon {
  width: 32px;   
  height: 32px;
 margin: 0 auto 10px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
